GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GITHUB_REPO=facebook/react
WATCH_URLS=https://httpbin.org/get,https://api.github.com,https://jsonplaceholder.typicode.com/posts/1
LOG_FILES=./app.log,./deploy.log
